.elc {
	border: 1px solid #dcdcde;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	background: #fff;
	width: 100%;
	display: block;
	max-width: 100%;
	width: 100%;
	text-decoration: none;

	&--card {
		padding: 25px;
		max-width: 500px;
	}

	&--list {
		padding: 10px;
		display: flex;
		max-width: 600px;
	}

	&__thumbnail {
		width: 100%;

		&--list {
			object-fit: cover;
			max-width: 30%;
			min-width: 140px;
			min-height: 140px;
		}
	}

	&__info {
		margin-left: 0.8em;
		font-size: 18px;
	}

	&__title {
		color: #2c3338;
		font-weight: 600;
		font-size: 22px;
		line-height: 1.3;

		&--list {
			font-size: 1.2rem;
			margin-top: 0;
			margin-bottom: 0
		}
	}

	&__description {
		color: #8c8f94;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;

		&--list {
			margin-top: 0.4em;
			font-size: 1rem;
		}
	}
}
