.clc {
	display: block;
	box-sizing: border-box;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #dcdcde;
	max-width: 100%;
	width: 100%;
	outline: none;
	text-decoration: none;

	&--hover-shadow {
		//ホバー
		position: relative;
		top: 0;
		transition: top .3s, box-shadow .3s;

		&:hover {
			top: -5px;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
		}
	}

	&--card {
		padding: 25px;
		max-width: 500px;
	}

	&--list {
		padding: 10px;
		display: flex;
		max-width: 600px;
	}

	&__thumbnail {
		width: 100%;

		&--list {
			object-fit: cover;
			max-width: 30%;
			min-width: 140px;
			min-height: 140px;
		}
	}

	&__info {
		margin-left: 0.8em;
		font-size: 18px;
	}

	&__title {
		color: #2c3338;
		font-weight: 600;
		font-size: 22px;
		line-height: 1.3;

		&--list {
			font-size: 1.2rem;
			margin-top: 0;
			margin-bottom: 0
		}
	}

	&__description {
		color: #8c8f94;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;

		&--list {
			margin-top: 0.4em;
			font-size: 1rem;
		}
	}
}

.u-border-radius {
	&--1px {
		border-radius: 1px;
	}
	&--2px {
		border-radius: 2px;
	}
	&--3px {
		border-radius: 3px;
	}
	&--4px {
		border-radius: 4px;
	}
	&--5px {
		border-radius: 5px;
	}
	&--6px {
		border-radius: 6px;
	}
	&--7px {
		border-radius: 7px;
	}
	&--8px {
		border-radius: 8px;
	}
	&--9px {
		border-radius: 9px;
	}
	&--10px {
		border-radius: 10px;
	}
	&--11px {
		border-radius: 11px;
	}
	&--12px {
		border-radius: 12px;
	}
	&--13px {
		border-radius: 13px;
	}
	&--14px {
		border-radius: 14px;
	}
	&--15px {
		border-radius: 15px;
	}
}

.u-transition--top-box-shadow {
	&--point-1s {
		transition: top .1s, box-shadow .1s;
	}
	&--point-2s {
		transition: top .2s, box-shadow .2s;
	}
	&--point-3s {
		transition: top .3s, box-shadow .3s;
	}
	&--point-4s {
		transition: top .4s, box-shadow .4s;
	}
	&--point-5s {
		transition: top .5s, box-shadow .5s;
	}
	&--point-6s {
		transition: top .6s, box-shadow .6s;
	}
	&--point-7s {
		transition: top .7s, box-shadow .7s;
	}
	&--point-8s {
		transition: top .8s, box-shadow .8s;
	}
	&--point-9s {
		transition: top .9s, box-shadow .9s;
	}
	&--1s {
		transition: top 1s, box-shadow 1s;
	}
}
