.elc {
	border: 1px solid #dcdcde;
	padding: 25px;
	box-sizing: border-box;

	a {
		display: block;
		max-width: 100%;
		width: 100%;
		text-decoration: none;
	}

	&--thumbnail {
		width: 100%;
	}

	&--title {
		color: #2c3338;
		font-weight: 600;
		font-size: 22px;
		line-height: 1.3;
	}

	&--description {
		color: #8c8f94;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
	}
}

div.elc {
	max-width: 500px;
	width: 100%;
}
